@tailwind base;
@tailwind components;
@tailwind utilities;

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(107, 114, 128) !important;
}

.css-1l8j5k8 {
  background-color: rgb(107, 114, 128) !important;
}

.css-wf16b5 {
  background-color: rgb(107, 114, 128) !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(107, 114, 128) !important;
}
